h1{
    font-family: 'Lobster Two', cursive;
    font-size: 5rem;
    
}
body{
    background: rgb(209,220,172);
background: linear-gradient(90deg, rgba(209,220,172,1) 0%, rgba(2,0,36,1) 52%, rgba(0,212,255,1) 95%);
color: aliceblue;
}
.skill{
    background-color: rgb(6, 40, 77);
}
.form{
    margin-left: 40%;
}